<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameplayLayer.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:44fa4f8d8d5a748c6e2f3cb19cfbd643$</string>
		<key>textureFileName</key>
		<string>gameplayLayer.png</string>
	</dict>
</dict>
</plist>
