<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>shape</key>
		<string>wall</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>002</key>
	<dict>
		<key>shape</key>
		<string>ball</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>003</key>
	<dict>
		<key>shape</key>
		<string>ruby</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
