<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Level pack 1</string>
		<key>levelsFilename</key>
		<string>LevelPack1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Level pack 2</string>
		<key>levelsFilename</key>
		<string>LevelPack2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Level pack 3</string>
		<key>levelsFilename</key>
		<string>LevelPack3</string>
	</dict>
</array>
</plist>
